<form method="post" action="/cart/add" class="collection-form">
	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
	<input min="1" type="number" id="quantity" name="quantity" value="1" hidden/>
  {% if product.variants.size > 1 %}
  	<select name="id" id="ProductSelect-{{ section.id }}" class="collection_buy_button">    
      {% for variant in product.variants %}
        {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endif %}
	<input type="submit" value="Add To Cart" class="btn" />
</form> 

<style>
  .collection-form{
    display: grid;
    height: 60px;
    justify-content: center;
  }
  
  @media (min-width: 769px){ 
    .collection-form{
      display: flex;
    } 
    .collection_buy_button{
      margin-right: 10px;
    }
  }
  

</style>